Source: liri-files
Section: base
Priority: optional
Maintainer: Uvos <carl@uvos.xyz>
Build-Depends:
 qtbase5-dev,
 qtbase5-dev-tools,
 qtdeclarative5-dev,
 qtdeclarative5-dev-tools,
 qtquickcontrols2-5-dev,
 libqt5waylandclient5-dev,
 qtbase5-private-dev,
 qtdeclarative5-private-dev,
 qt5-qmake,
 extra-cmake-modules,
 libqt5svg5-dev,
 qtwayland5-dev-tools,
 libqt5waylandclient5-dev,
 liri-cmake-shared-dev,
 qdoc-qt5,
 libwayland-dev,
 libtag1-dev,
 qttools5-dev,
 debhelper (>= 10),
Standards-Version: 3.1.0

Package: liri-files
Architecture: any
Multi-arch: same
Depends:
  libqt5concurrent5,
  libqt5core5a,
  libqt5dbus5,
  libqt5gui5,
  libqt5network5,
  libqt5printsupport5,
  libqt5sql5,
  libqt5test5,
  libqt5widgets5,
  libqt5xml5,
  qml-module-qtquick-controls2,
  qml-module-qtquick2,
  libqt5quickcontrols2-5,
  libqt5svg5,
  libqt5waylandclient5,
  libtag1v5, 
  qml-module-qt-labs-platform, 
  qml-module-qt-labs-settings,
  qml-module-qtquick-layouts,
Description: Shared QML modules for lirios applications

