Source: liri-files
Section: base
Priority: optional
Maintainer: Uvos <carl@uvos.xyz>
Build-Depends:
 qtbase5-dev,
 qtbase5-dev-tools,
 qtdeclarative5-dev,
 qtdeclarative5-dev-tools,
 qtquickcontrols2-5-dev,
 libqt5waylandclient5-dev,
 qtbase5-private-dev,
 qtdeclarative5-private-dev,
 qt5-qmake,
 extra-cmake-modules,
 libqt5svg5-dev,
 qtwayland5-dev-tools,
 libqt5waylandclient5-dev,
 liri-cmake-shared-dev,
 qdoc-qt5,
 libwayland-dev,
 libtag1-dev,
 qttools5-dev,
 debhelper (>= 10),
Standards-Version: 3.1.0

Package: liri-files
Architecture: any
Multi-arch: same
Depends:
  libqt5concurrent5,
  libqt5core5a,
  libqt5dbus5,
  libqt5gui5,
  libqt5network5,
  libqt5printsupport5,
  libqt5sql5,
  libqt5test5,
  libqt5widgets5,
  libqt5xml5,
  qml-module-qtquick-controls2,
  qml-module-qtquick2,
  libqt5quickcontrols2-5,
  libqt5svg5,
  libqt5waylandclient5,
  libtag1v5, 
  qml-module-qt-labs-platform, 
  qml-module-qt-labs-settings,
  qml-module-qtquick-layouts,
Description: Shared QML modules for lirios applications
XB-Maemo-Display-Name: Lirios Filemanager
XB-Maemo-Icon-26: iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAeAHpUWHRSYXcgcHJvZmlsZSB0eXBl
 IGV4aWYAAHjarZvpcSS5tqT/Q4oRIbAD4mA1Gw2e+PM5IjKZLLL63h57zS4mGQuWs/hxB0Cz/uf/
 bvN/+K+4XEyIuaSa0sV/oYbqGj+U6/6vnu/2Cuf7+c8/t/j923XzvuG45L+ezO15vnE9fr3w6sP2
 79dNee648jT03Hg16NWz44f5OUiuu/u6DU9Ddd0/pFry51C7uz/H8+AZyvNvv4aV7w/9bj4vhIyV
 ZqQj79zy1l/ne7lH4O9/jX/5fHd6jvv6ORk+rK/PSDDIt+m9Pq/r00DfjPz6yfxp/fdPfxjftee6
 /8OW6bERP/x6w8bfjX9M/D0cnhG57zfstvvHdF5G3rPsve7ZtZCwaHoi6hjbvprhwY7J/Xkt8ZX5
 F/k5n6/KV7naNXD5vMbV+Rq2WodXtrHBTtsYxzqfww6GGNxymU/nBm7RteKzq27gH+uDvux22Vc/
 fcFzwy3jPZfdeyz29FtPf8MWep6WR52lMcsrf/0y/3Tz33yZvYdMZK/ythXjcoprhiHP6TtPBTni
 8Vs8Bn59Pe6/PuKHUMWD8Zi5MMF29buJHu1XbPnjZ89zkc87hazJ82kAE9F3ZDDW44ErWR9tsld2
 LluLHQsOaozc+eA6HrAxuskgXfA+OZNdceqbd7I9z7roktNlsAlHRJ/IrYKHGs4KIRI/ORRiqEUf
 Q4wxxRyLiTW25FNIMaWUk0CuZZ9DjjnlnEuuuRVfQokllVxKqaVVVz0YGGuquZZaa2vONDpqtNV4
 vnGlu+576LGnnnvptbdB+Iww4kgjjzLqaNNNP4GJmWaeZdbZljULpFhhxZVWXmXV1cgRt/0OO+60
 8y677vb22uPVH1//wmv28Zo7ntJz+e01rpqcX01YwUmUz/CYCxaPZ3mAgHby2VVsCE6ek8+u6kiK
 6BhklG/MtPIYLgzLurjt23dfnvuv/GZi+a/85v6T54xc97/hOYPrfvrtF69N1blxPHZnoWx6ebJv
 u7U3AZltG3mPPYR+lC/e1ucI051P19uMeqL/fIIZkFS1hWxN8XH1PMOqduU8ZSamvUvurZ/2Y837
 vEvfap2Lrs8Z+2YCbvCxeXATR8ulju/GmAsv4YHkfLta3tG3dHWLlweDXzau1aYa9NumuHee/TQP
 ZuZtfm3+bjuPkXawAa+AEYRMq9Ndu40ZaDp/b9r8bPsfmu5jeA3b35/l3fQYZntcUuJPkzwGL5ir
 /n4vNwAodgbrazLBl3fbFmM3jL0sb8fW695EW7d6sa95Gij46Hx+d/c0X/448TvkS08sXn6+mt/H
 l2Wv7pcNtHilMd1qqxGyZEC9qJMmhDHCCrC3XuwqqdMnre3E6HYoREZOo7qZiNRIovFWYV7kP8yj
 rIWFZrqO+49xCQ8Zl0jGuOE2LjGerhUJi5XwH69jqz65njqMscXHMedd8/3l8hie32Tc9URyfcyb
 TnDRApOtai+SmmlRhqPhcqcViOjVSNcanB31AjWujJ1Wj4oMOh4/Bn2HcvRh7mtGqF/NCfsF68Ya
 bTAVLlxhAXh8YvLu2izkPqm81prZ27ZLzaPuXifPwwMwv1ngRV+4PFdHcKYySHNAy9dR/BzXDk0u
 oNuwiiDN+72SZ5CtTPwERSg2hmrcVcYmcS9Q8OqAll8ZP3goSCBIfc2CnVES5bC0q+7YIMKTK61D
 OuvwgBbM0mxB7mRSsHfcPPbMnSI6AL+dKLlt92syINip2y5CctIG4i3YyXhOaOLJVGH+y14zuBDh
 Qqnj52xH91mPULT7bn5ViC5Gr2BY3oxyhrKjXYJHwLcyoHAZJhDqptEA198Jg1CnAePcR46RgtRC
 n+sBkmuT+PgOt9+BEeYTGNboB0a32skoP9uUe1t6uZewTcUnRVYbtW9vafD4acLadqw+H9sb1xMZ
 RZaAzCUw+AvPOsvPoQGir8n692TrzLmFQQ65UlY4lu29mxUFnoykzwxIBzIuqUwyBKbU/Lx2j/DH
 NhKm8nM2625T2Tlyq1hjEJbWRMFcHTMKTNrOAfZbZidva4LgrCbDkmOZIKP+pqukvLq8DzaulleM
 KwD31DVslyGoPJ2WV6oSAMGqdrhdCQpHYaSYesLUV3et7MKGHMzUGwSslwbQx2qiI+QCHUKOJ6WS
 eCwUuEAuUvWJ9qZ6EKHmS5RBg+fXMQeZzfAuvKFZb+hxYCSA7kV9Th4su9qetnagKxMyady5nzCJ
 PpW2Y9wY6eh9LcugNxxypQMrnb7ziHtSHgYQSl5ZPwsYhNEwC+Dkmg2Tcl6jY6h7jXq66BCqlYxa
 AdNJccUPLZy7bdW+Rj6xlRU9ciKF6ekHm40IJfF0XMlinmJE/j1U+778eTWfjEog+O5cgolEeZAi
 RpdkY5wQGmvGqWgJxMj72/z3TnFgW5tOxRd62Ii8BNRLfTVZVtTvEjXM5LAZCgCMRXeu0eCxUDZh
 DvFQQgLo8d72IfUO8QZn+OlyYFF1OK3avgwVABoG/l6bOM1ryKxkMFzVT7AHibQ94t02ymvkWcb6
 ure7p9GOaA/RrNQ2TxG1rS5cvRx24qk6+OEiIgCDi5BbISXonhQ06AUUKvzI+l6oT6tOQ/S7LJGi
 UPVuVVCv+U1OYYOxXYEmZqoCNAL2ZZF+5FElOuu0bqpW9e1gCKYd43rsiMtjGowoEikbHN8UlhGn
 IyYdpbAW0mxjMnJEVsUGo4YgZel3N1PlSVaFE0YPVez6DMjDFdvlKLR2QGsd6MG8LxKYEU2Pr4ho
 CyLKMG2CkGvEa4PezAxWUPkdNLZzqdeAphxENdikPvQDMHRfKRmEVDWdTDonyCgYsF1YveMaitMu
 F9YpQo9B6NYKA4efq1LMCDWp5M2lOtXnhtFkIoX+g2EA2DMv7AgxntSfDsJELkA/iJbCUIF5ynfL
 MqqoDIyfGocLnPyIZ3CjofKMpEJmAXzEfOc6LBh5RzkDMOKq0t5xnk+yD8ZE3FEaqBfVI1kLVC02
 w0SupHxk5HBzj84sKvlMqsP0A8qBScSIelDNJh5x6giCybgRiWNLm8xpLniDn6L7RBk4QO+njklr
 LBUfKkmLaE+oUkasUHol4cFJuasAZym1UlFHzy1gdXSqfOuL+j8vwoEy30r2p2VQmB5nE3x28PJa
 01cboK/dqaA1AzuHXqQjTdQQjh3NKxJQIiQJ3iFdK2RtEg7U0DnDHuJRE7wuE2EMdSFpVXJhNXWV
 KdQgy3D0Iop2PbBmVSvTkIhAbz9NuAUeeQs1JtB3QA1dhgHrJwFuT8gbSI/NameAQ2ticVhRiO9m
 0VaAOWOg1ql34ADOkJshJb3z4sLA4usN2y4obL6A7vcoIHJMrFKp4AW+VXKON+BvNFW38AhnB9yG
 zoKrgo2L0kY1xirEN3yIcERpIcUQdS1KjyH+oOGQOjepT9QSkI5KO7D2mMpDqzhBx0KAIsll0bKI
 voPhzLXMhMHqvqo/cC3MEPyigQgOg0UuK2knYABoSDd4VbedfN0MaUc8OBtsoib4LcoFtjZ3HnTI
 0KAH+JbUMBcssCZIoLcd9SzS7rlbyMjuoLoI5NjXFvMnAMkO0pGxzVqulIRaHUoHnhrCQKWvAoZT
 tBYjwPYQFCoszXridQPEzKKOjKqASu37Sp5URqghra9ywSGFKGBYaRJ/VAWvyn0dPjMjMQOcwKE6
 DAl2fA+CgmEXJItYjXUk6noj107TzISYYN4IDztQwZZXQE/ksusUL4vup1ah48E9iAaVxpNN0w9e
 AwsCwo8yd9WCxu7Y8TgOKiKPxjmsvR1aznXkQdKS6qJ3NDjUKkIjd6EEdnMqpqo9/R2P0TvICK46
 CyMZCZLttX6hlWnc2rCbs9fyDfQitQh0dwFeJrUK5mSfAhYEEVQfSaqu8gsU2wJHcQNijZwCoDWk
 kAhuGmWw6HQsqBkabHn4EAyrJhgxPiCXVDL988NgkEI81PJ2XM6q2WAc87Kgq00wrEFkq2JLtUpx
 0Np8PUZFbYuEjluMAJ4FZPwBaxCOjgZapW+on90E7dOdr8WJod0YVwkH8k4d9I8Opkf/pFdv/oql
 EhaGpPNlWCyL/ETmEM0VCUswapkXHkIpxjhauHBdCzwxoAIkRPOJNHj0oJeMsSf4rHWT0TZkKVhC
 jMrvsyPgF+Vz+nXZiSO2ENcNYoI0WC/xcK9xVANGSCxAJUf+XCxobookU8XhcStMLfIcZom+uEBd
 eFd36aGbmMxIiismg9X68VEm5FoES6g+Z5mCAJIcPQLiXqjY3xcqjm4xp3sqfgElYE6qXUcfVrSM
 gGNSEW8lE4nlQoVQySZD0y6Iko7OvJByg3KEhjvTQSzkhQ+J1wZc9dKdlqyfcSJj2wGT4MF2AGlp
 JaCpzwK4BNPTpavxdbXumVwm38kfWzzSAXZEVM81F5QBFwQSm9INVCM1YP8zwT+zQd9TTgc0lqSF
 /8VCJh1C3Mhg5TbRXQe67Ei9fD8MQCI5d5rwRSRoAtgSnYJYNqJc6XwF1BfpDgJM0AxXxcCtgS0Q
 QdfrFhTBi9N0mBhqB3FoAIMA+4JaIC3q1CIOPO1e1LpUN9sF67TLwShLgBmBp8Ve/lBqr4pxv2HO
 mpUEVHJoJ+4WqcZctfgJBcIxVeuT5Md1btWM3CcSzi18UCcI6ks37rYHkE9pbAPRtmG1optaS4K6
 UP4aZGozFdJRbIew8/ADQghboemBLjgkcY+JVLcRDaX0QdIVCEdTwaFaUIRbpwMXXILBnJ0Zq+dR
 0cJ1rddkay8DqGmUJ4KxyLPsFTUgRgZk5YuSPbTMQdEAXYGRlihI2/MY5R8A9lQL4xQ8QomKj6l4
 kMZMDBCmdkPRT66Q0j8WDBW8qAYtRqBhkKLfl9/gUJRzHkei5SdXIChw/P6RPhTXjuZEkyhZ4llz
 Mn9Z0bNP+jKkM+lNwqDX1ke6NDQkMlZyUQh5KsjPTgttUvxTth7if6TaOnRi+98xwaBmBUnfVi+f
 xYzz4s8ePsdxhgHjA2otCu3KpT0rxeO3NdGKl33/KwRuzcf8h+6wU1SH/p6lox4vW4kzigRYgxDw
 vopYG3/P00atVvIjfDK2BFOnhgCvTdtmLQ4YPflnIRfEqzhIhDvIv/aBXHNLfLhviH0kSNcCCFd4
 RgPo1wHjqJlEB+imuI7WT6+pZZueL6qdtjCymfNmq/CDZVUKrehDksKHFEIGfGkMRTbnnrt1K1Gh
 QhkgOFJwnuwz3XI3tFMIS65RCYSGbk07gQ0NAIuyvLWoKHDEfifTo/dcQfPeq6ymoZFcS9SqI17Q
 HxZVgzJC/S2SyLUMeOaxMFGF2K0F/LWutXAt24wilhqAkdaChDPUdrubHInLwNso3iemi/T4qjBN
 UBaBNfNd4CQlIT1ofjiAY2qzEKipWZvrdQTzXCJ2h7BmET9b8IPPFOIt+LnZakX4TkdZRxyQwNUb
 lCKzOi+Ks8om7hBGrW3wYj4vkpCaaZQbojaUIAMT7o6HRAFg6IZogqvyfSyJX3ED7a40SnrXFWgP
 l2DiIs0V6zuoMeXr3BYr9QAljMSse1LzY1J6JSKmYId9wWzQsFt8dVCYMAKsghgtjhRIjpCjRWSJ
 edYx4c4jUZomzAfPoBgZvIRH4RcPP9Q23YebmGGEw6KlHFpK65CpTp/wiajph08iNcuWGtZZ70mO
 B0g4l7TyWHUbJB0eigPfjWjOaAJRc0EpYUOKswntWjR+taTdAcLTBf2QuFiJ69loghC6XgshDl0K
 vws6EyHbiJdXhZC4AdYaWtHSYlbCx5TFfZQZsJrR+M3DG/bNO8uTLsar7pGz8Bj4X72Fcn5IJDIv
 opOiV079wUShhxBl/kW9eZn6XX5vVT/+Ee71uRb8s7T0bha7wygrwkmENQ6io5l0q3MoJHAcYI5J
 y2BA0gULIvYJVq2NAmWIEYIYlVcidGALcVCVqbfeqQYG+dlPvm4Gpo0BBtO2aJCE4nUvhDiYKCUn
 4l7gCn9k4pr/y6JRHsVVBql3patozYi+4S3hLBE5V+ZZ1dGKTcra8rE2iZFqKXNZnSwY6Cq5SUsr
 RPZAadpRnpJ9L2MhxBC+lnggClsPsKrkHAoUXCW6V6D26FRDaMRzxuGe7Ed9acOUFD4pFqMTqyCs
 OuZlgldxaOMFf6K4qkttQovT7JYQ6MpYVDO1H89bfy/T37wFBueWdpHna+wQQihFqd1rwf7FgJYW
 zPvZH2XYpq+kJWio3a4g2qxEf4WIBCSZ8gu3X06aOKCqYivkaZLO8BPeyzB7TiRNdyZNLRyDr/W1
 mlZixbBFSzSeCqIFdMgHU6pLsnGqSnjgLEeMQhBg15S6wSTzBtUWulYHs9ZgtTR4yTv9nT/5PPbn
 Q14bHFyZ5iy4ATsLzkzmoDMcrLQoiKGWE2rEv4kZg7ZR3GVDZ96qMXTNDZK5w+SK4Y5uaF/oivpw
 uGXoZfRp4FFezrZrOwZSqX2nC23ERc0dptoIRLBlmVQQgS1oFdxNVR/KKPoWT+tk0gptTZFvpATx
 sDYK358VAmRcndTMgO+1YGZK0tLe4cIe+FY9oyhp8wS5N2i0g0rwLPBAyE9oRpAZrUi0btuoy+QH
 LjKxM7wKjmfCFU4DWcVeQ+I/MAc7XZ0WteFVlvKmYh1kTVpPGE5gejimNXQf5u5XEMJ+LeZQM4uj
 Yops4iCKVPexJxy0QE9ISCCNoo6ElaFU3Qb8rbAKMIBwQy6UeHbmiAwIB7UZ8Ruo2ghdKApJ0oln
 LWLWA8hoN5rDokhR0F5jHymqOuMcal4RZc5NW5LaY6HyKFmG1sJU6KTFoSihCmO0XKNVPwtbRQBN
 AhaoqBXKgX6IWsgOYJvIB8IQOwIX+0JlolkJUm0URTj6Up3Xtq9ZTEJ7uFS/yMD4ftgk0u8jgttX
 BJ8ABv/isSesap+S4g0VxU+Kk1L9eS4REqWSWiQrCgt+7KLO8MEAqYFn2VRrPOcutFf6zAejwC/x
 vsr7V3CCclIYTZTcAXR3JJ0wPoBQentETJzJoXSeuwS1AYWWAhlf+x32Pt3VoNdyNtUwarqupGVU
 kB5IY1Ra+aQP7ajcG0QtQI/bWdKYYfDQ0OJiPFs5YvtuXfUUHg/nZGZbgl5bTpL/JWrDCzTlKja6
 5QGOSZHqj8r3z37lJR5FRGb3UjcQ21JU0QDlxGgo1YQGslkDu3dFidyeOmWErL1qZBYoPy1GDaCc
 +vseoRsUZi+RM7SCZR0AD6pX6zG2hHQ5R+hsgXNpmXowGYixFoD3sxwLKVBk2P3EjcKm2a+HzPPU
 EkXTqQjiwApEtKxdxI69lmnjB69ARuedv3jFoDD0bXT+aQpUDwsCSY9Si+79nHZrncpnOLviCdbg
 Hsfa/HXZwChOMIRxYNUJaYWWJ6xqrw+ouipmcT/zDqer31xCkWQUb/TAc5c64Kf7xqEYguDXZV6K
 l54K77eTzjq0244GQphRPFoODzdIPcwBjFgVy5QvybBQ4xL1B82ex+qQLec0v5Uiaedvpaj+anMu
 tfh6yPRARm5YkThvIH+qBo2SmhbKpVOzx7L3L+NOXVCXSmyPoRKPKqWN9m9qe377eOePBnhFr8OG
 IMpVtU0rpI5SpJ0Q2jC03Uj5dVxHZ86qEa0W3k9enRaJYVxGV9A+hereArUH3uyxmvlAwLZDPjsi
 fZ4QPRzlCWWdPEEz0uOFjEtzBR1hOGdbsBo8xkC8V1mjkyY2wU5hWTrYgJ/4TkETLroh/RLjVYd2
 WmFo4OnSNliHbtAOJdFoQVFnKLpPOuUENCI66oxOHIJG6/VIVepQ4GG4y60ZkpyMANc2BQTY8Px7
 W+Z18esa1SUvrd5RXeJp56U9sJsUSn4JlBOQl7Yc5q1W/Vj2tUPEAPctnlH26l9oRUHNDN8uqB6K
 h7mc0RsIwnv4/rn4eU1xSYlbWp+ow3/tIXF1fVw192UUBhDdsZA2x1MTWL5lbvhxJY7j0QR/01KP
 RquFqPvRj4v3tT6rt8SJGj+v/dF8yZ9WM9/NL66df9j/j6spyQPtuwfMry54e+CsF7ztr4MgDKrv
 91XJ0Pu6ln1meSbw/2ed2xDmN+vIvW6nbn2vrzh8x0/5cQW5hPshWV9WOCd4tPaedN7im3t/evcV
 /nesAP5f0f/Rx1miK8gzHRc6bQknSZn9M4R0LZqPLvYPEwF/v/rgZxYQkL9elgdohKxf1/qjLftL
 6+dk3dPSDyf/clXt97v9/Ec6mQMRvv3FyfNPf/7qY0cdQB3hZLk0/nBy/MMBv8e/lmBJavMjq2ft
 T4bN/ypA3T128zX4N9rszym9rurYjd3HvW0C6Bny6KgG1VNm2x1HpxT0VSgA0EKtDPVV7gMIYYLN
 kDVtRxXJ2GfcY0s+wty0CgHvQB2N6/YIuqR6nViOTO8C0bWHqqMPJTFxLbPrjx0WjVE5JvWjd52P
 0+FdcdLC1NZZMssXDaEHKDto1CDmiU63mCSTS5Z/oa5zJLa9HoMetEFo8GqYZiCSNvxQQmKd7dvm
 KOWUmqSDb4gx97T77ufa1M+ndfx5XzTPUwUehxgZE7Y6vzX+jCLYWatOZIUkMqkDTt/6Rh21j/uv
 Zl/NZMaUQqSh71N3T+dX98/gzC9zv1TZ/z40Xn7fBq7uy9F89e0+Hni//x7j1DbOODzuT6ccsxiE
 1Vqx5KqFjlhtLuMk6qLATi0gda38aQln1N61fDPPsi7PxkM/w1itDWuGdp6aCioMuWsFDUF1JFRu
 vWonE7LSoRI6u7HvHRbaUFI55KaYi4PoV1NzOZQ26szoLqvonGkH0hr0FW2+JJGSFsKjzW7rfodq
 wJzjfWKDWYh3GR1EvC9Hdfy8j5ZJTvSqvd8KH81DK1OBi6vx627cvJ5zwyNSCNeY3g1+3WMwOrec
 WtOixJ/tWtipTvoyr/jby9xumDZGHXU5/eZJ1iKlS4eI94BT735p0Xx7V0Nu5cyn/jFdnT4UrQvz
 9Soiwfa3sYyvpWsr7tMc/jUCMPK+7ZpWV+/RvMwSUacQcujhaiJaOkHhJcKsDqH3rvURFBUUsW9J
 x+PhwcNyGl3FZfMJBB/RxPDgSpLuYTq6QlAWu01oRpTVvs6Z4eByArG1IA8r8N3pYKSdqaOAh86Y
 0Nl9Ku+c3TOotfCeyntyOemIwlz3ScDnXEEr7+l9mY7IBvZTM2c19jkWqAX0x8hfhpCV5n2mUOvX
 a8dzjP3cra/n3TBn5vdhqPKzvY+etbE62nMyoWgbBs7/iqWdzEfI4QCt9xcEMt3DFZ7mmLl7hkdG
 SCiftWpbz+fTnLnDob6b84jZ+7DWmYgsQxjGl2Xu+OkXiLGeFu2xpMHWn4F73qjzHCq47i7dftn6
 R4v3jPvjtfCcF/vdKfeD9j5PVt4N/njOnAfnOT3Sn7ho9mfG3xmSqXz9/DmeQi3oRDMoaS0tmq7z
 72Ms/SFRK7Nevo46tOxw4tbWMXepyjLhwyySSSm4lpJ2mgr317URBwZjWCdwgxN251wvksTPqZ+t
 LeSLGkrYl5p2RlTRXXf66z8fdaL5CjoiM5OBup5gW1frOgkGgq+RVe+1lp5pVsswyEb/0Bn/UNab
 /NxMU8cYD6vZN9Us+1AKPzoBHFQPGAs8ucZreu03a9P81erd5rtFZNZp8OzA1vO58031Tpt3atzf
 cX7QZvLlm9R/0PLkfr1lvl47U3D3Xzn8MYWuZVkF/f1936fQnyEyBN4zv869/vtGjVrVH+yQJ+Ef
 zJnes/i0Zv+aufk2dfsPr/l3b9/MrDPvGpr5Zdr591fKMXD6MPCnW8w9unCaI1uCBIUvViekhgte
 B9jPXyudDcJbMX9cT+/rJvvZzwbdGid41JTOKIR/OTLzGtqH3XQSwMGh/tVEzfeZ9v86AP+MP/Nv
 A7D/JcLMrRbPTf9rk+M/xPSTzubv+fxbOv9l5v7Y6C+v+d/zvOsIpk4ww07LR3tGDebS9WdOUecM
 0oE27TFJGqatDafQ7AwZjZEo/bBlwFPkrwgxkjY6M5HdUZM3slF/GIXTQRJUiws9d3DtSiFpTc07
 kQQXKP9Fpytm0onK7LNOUkAjzaAcBXDa61Sjtl/XVmAeeuerTvSPVu4aJ6w7O+aEQ92e4hbDc1Ib
 wn4ObOvkFqO05518pn6+F/3NTz1/6+DS6eB8j2RQyN5fgHw4oogUWU8XBe5q01cPrw4ggMONV/v3
 a7W+r+d7Av1rRPeN/9DO5zjr93Ga90D750C/xvkPE9b5xMOIFAvmeEy38ljIxvh0EnFhDufPnmH9
 UD97/sgLfhyqR3v4oj/LkEyoRPX/A3s1+D4OLM/nAAABg2lDQ1BJQ0MgcHJvZmlsZQAAeJx9kT1I
 w0AcxV9Ta0UqDu0g4pChOlkQFXHUKhShQqgVWnUwufQLmhiSFBdHwbXg4Mdi1cHFWVcHV0EQ/ABx
 cnRSdJES/5cUWsR4cNyPd/ced+8AoVFlmtU1Bmi6bWZSSTGXXxHDrwhDQBTdCMnMMmYlKQ3f8XWP
 AF/vEjzL/9yfo08tWAwIiMQzzDBt4nXiqU3b4LxPHGNlWSU+Jx416YLEj1xXPH7jXHJZ4JkxM5uZ
 I44Ri6UOVjqYlU2NeJI4rmo65Qs5j1XOW5y1ao217slfGCnoy0tcpzmEFBawCAkiFNRQQRU2ErTq
 pFjI0H7Sxz/o+iVyKeSqgJFjHhvQILt+8D/43a1VnBj3kiJJIPTiOB/DQHgXaNYd5/vYcZonQPAZ
 uNLb/o0GMP1Jer2txY+A/m3g4rqtKXvA5Q4w8GTIpuxKQZpCsQi8n9E35YHoLdC76vXW2sfpA5Cl
 rtI3wMEhMFKi7DWfd/d09vbvmVZ/P8u3cmQ7hVP1AAAABmJLR0QAAAAAAAD5Q7t/AAAACXBIWXMA
 AA3XAAAN1wFCKJt4AAAAB3RJTUUH5AcCEwYUC8iJfQAADf5JREFUaN7tmN+PHNlVxz/n3lvdPT09
 nvF4xvaMxzvj9f7yatf7k2SdWFrYJJZ4WIHYF4SEoqBIPKCF8LQrIUUICYmE338AkSKhCIGCwgug
 zcoBZEcmErvLwkJg5fXY8Xr8oz2eX93V1VX3Hh6quvt2e5ws72mp5Jpy1b33nPM93/M9R6h+YhJU
 C1DlE/1EEONQn48e2Rrq+z/+uz8HBFAgBTwt4EvAKzieYoplDA0CKSkbeD5AOA98A8se9Wit3wL5
 5d8/LyKiIQSyvA9BMUCQ6lCAaLlfkPIeEYw1JNZijEFVBdC/+p3P/fiDUx0cWGBhob3TPkuTVxpH
 66d+9fAXH1qdWVtU8S3AgRSiZm99d739l3e+ebV3M/tvupxfmFm40JZ2Gy0P54wxaq1tZf38wHa3
 7yR4qRtDMOVGpto0UF6oomJwidPZpvPO2a007XVCUH7pq/8Qn3F4b0TgXiCXDten/5V37Z8cakv7
 ldmDs6+vtFbOnlg6wdryGk8eepKlxlHqpk4WsmSjd/Og3OXg5+0XHr2SX/n89fr159p5u4byNo5N
 FJwqqOrPA7+RWHNchJo14mUiAlI6vrTCiHVGcuC2Bv068Lc/CXGK4iXn3ek/atHjcwR+9/m1F06d
 PvE0J+dO0i122dy7yc/OvcxcMsdWf4sP7ryHrSnnHjnH5YXLvH/lP85+76PzhxBIiuR8bvK2S7u7
 dNL+w4tz0y+ffWYNsOz1ClR16EkzMEXAGcEQyLKMqzfunriznf26wOOIJFK+qgpCCTutbCcRpy1Z
 CS+1f2/h0qGvPmkOcurQ4jyzB2bU1HLZ7n5MLQ80KpA3pM525w7byQat5klmD8zoocV5cd3kVLGZ
 v5538j7Cd1x3b4vrd3eaC61ljq8cBdvg7lY6NEABKyAIIoKzhsR6ep09bm/u0g96bqpeO6dIGaUI
 QjKEkAGUzO8SkhzqcGr5CZoH6+ollXvFNrd77zDdP0MRCgCKUNBNN7nt36FZWLzUpDlX1yfyJ+Ry
 5/LZNOu+S5+3XZ51aZLqbqfDh9e2KUjZ3OniTOlxHcCoOlRQmJ12TDcsyw+tcgywIkOsi4xwb6QE
 T8006IcO7+7+HRv+n5k9AMdmj0MtlQ7XqDko9BJ5/iyDuCtKnqcUySWCO07HA3Uvy3NL3J67RVp0
 T9HnS87nGS70yXoZt+51wXrSNEOMjLNm5U2vUBQ5aeYQYzAakODxGobvVSxb3Ss1UTLtctv/D5uN
 f6EDvHXlu+Dg0RqcaMBb1+GLcg19rjLAK+vXrvFNhXO7f8OVHnzYB8oAkTRqD+W1/iuOEDCqeO9J
 e31qdUMiAa8j78dGJECWFXTTDB88Ic/Is5RumtL3vvS+jhJXUZKiRVHr8V/LV+hYWO2t8dniMzRd
 A0kCSQIznQ0eO3AGg63yzvKYOcNrO54j7SVWc3g5N3SLHhfdRa6Gq4vUecphLOISEKHwOeQWLfIx
 KjQRrg0QULwGNM/odXbYvHeHS9c2CNsd0ADGjEImAdozcLKAk23YgrOts3zttT/g0Owh+nm/hGpQ
 rFiaU00AmlNNfvPVr+D19RINCrWkxt3tu7zx7Te4unm1xWHqzhc5wXuKvE+vu4t1fdQXY8loIk6X
 yrMhePKsy/WNDRZrPb7+Ky8xOzuND4FeXwmqVT4o08yQaYdv9f+NSzffo+WmWZ5fRozQSBr3UW7Q
 gBFDq9m67/+W55dp9VrQw1HDuLr1bNy5F+r9Aq3dxNgEDR5THXcSRlpZpkVO2uvy/gdX+MUXF3nx
 U88wNz9PLyvoZp4QGBpwwDXp9jq89Z+HwUJHOtxo32BhdoGsyMp1g2JNGQFjDCEEumkXH/wwH+uu
 Tnu7zZ7swRRqbU3d/NwU5//i7ZxDq/BwG6yDotpdKibXyWwW8B7SFH64Q/HiAr2+5/qNHa5e30Kl
 pNQB3Jpmll6xx2begzW4kF/gjW+9yZQ2CIlHHGx8vMFLhz/Lb//aV2hNt+imXf70G3/GpdsXWTq2
 hBZgcksqKRdnLsBBTEvnjXvyuee//Md/ffpsYhQfpNJyWpVd5T5tMFFfcx9wtSnu7RZ0ujm7nT5i
 BhRaMZf06IUUUziYgvXmOuvpevnCdHXdBLMNXl8HwKvnB9sX+Xv7jzAPdKoLYA6O5KuYvSlcZ6/7
 tcdPPz61urpClmWE4BE+qSA15D7Q6WZs3NwhywoadXufzdYErFeOFid4KDnNtdb78AgcSuDoFCy3
 4LsJLO8tDeEiRlheXYIWfOEk3NiDmynczUsUTN05wvy9ZdxGe2/u8kd3JO1a0rwPqtjqAIH7qZSx
 wiYEhaCKhoChjODQ+xX6Cjyo5WTvDL1Gj2vufejCTirYVNEM2C1rTPzzoXz+8V1od2AnN2ACtOBo
 8Sgrt07hut3MdLoZnW6fXmXAADw6YcBkVVZGFbhmR5U7PogqZSJimJ85zmL34bIYHYY8U+51BJ8r
 bIFpWequPkxY4y3swa0Z2OkL+XSAOhzbeppDO8eYNYcxwZdZbhNDzRmcM9jqcs6QVJeL/h69Izgn
 WFsVLS3p01f/lnqqjA4i1GdazPdXeHnjyyz6x6AGeU3ZzMtwd32P9nYbDUp7u03X9yCUsMkThQSO
 h+d5YfMXWOyukUzVcGIquIQyZKqRbqhcHSLP+woipqrqZsg2VcQmQqYVlUIg4FmcWeXT/dfo/6DL
 naf/F1ZB75bvXty5wJvffpNppunQ4aK5AEvAwer6ETz84Qs8f/RV8pmUW50Py34A1WEnqZH+16qR
 YYKQQsSsKqO/lYlOhrhDVVCPq08xN3ecZ9NXmbu+wg/3LnBFvg8NWD+8znq2Dr7ySqPy0m144tY5
 Hts5w1rjOVrNw+xkN/EacAPRXiJ6XA5rpIeGBsrofsC0Gh04Zt8QfVeuEVAr2NYUKyunqX80Q/3f
 Z1hYO87dletkiyl+ro9aRQqD7dSY2mqyeGON4x8/w+rxZ1k8sYY0HLkUeAUnMWNo5E0t+wBXsYHK
 KDpxJExkoAyMG0Su6iUGMjyoYELACNhGjcVHH+HAsSXWtp5l6/JNtt9p0+/vEYLH2BqNeov5+SMc
 nF9i+lOHqTWmwAlWA1J512kUe09JiQMQx1CJIaRVJITxIUbQ+2ue1xF/meoDr4AxuHoN6xzOJhyo
 L5If6NHP8lIPWoOtJdRbTeozTWyzUWnEgI/2dRrht2QPMFLCKVQvmUqO6oQRTEBHKydIdIUhDBUn
 ZWS8goRyTCBAMjNNc7aFMUIeRpBDpGS2EPC+gKBYa/CVE0TBUSWhDzoKvw5b4PIQYQQrI6NGP1Qs
 QzR6GWefcSVb+NG6wzxRQMPw4GGgZIjWHjCdCsGDteVLXhU3wufgQ0VERrQYLWj2gYpUxvooWcek
 MeNRGzLc0AZFqsjHlD3GYBKvJTgdkYeLK+bgi8FIIUSHNBVMQpToEkWD2CgzzkRjhulIpgxZa1I8
 DUM/vkZ5Fh3jbacK1ijOKkVewiVMfBR72zM+8NJqQ2uqdQOoH60hTMCAEc1LtIbIuIIPIYpchAAR
 yEOZr6ClAWGwadCKhUYO0GjjYbOuD4CFRsVvoqAPEnyyVmjsJL2//sROHJzHVlYLgzqgoCoYGXVg
 JjIi7okTGVVfmWAjqU4dADth+JBMZZRLkwZo9d1gLmsnGK/8XnBisFXT5IwRkpqj3kiwpmSjICMj
 TOy5fSITY9RQslSu47AZHCCW6ZPjmsGzZAJmkzLeIIhLcK4cLLv2VocrP9pgdy/DF75M0mjD2ADG
 c2tfA6RiJH2AAWG/xP4JRjJWWwSxlq3NW7TbXdyNrS7Xd2/i7WYpe6OFfXUlUSjNxOb7Hc5Ens3v
 JxVMRX+D9220XlHd28g5OmZUOd7UdBff3cMtzTZozhxkanoWgoegKKM6cF8II+00BieJ+D3SSH4y
 USsDbNT8mCh3Bu24mZAvYVAzRDDW0d3cYOf2ZlkHiqBkXsEPZmn7DCIGsiIyYHBiifg8jsJ+STz5
 vkbFUKMqPoRTRNWDUwlK33sKn+MaztKsOabqDvUSvTzeRk7SnkwcdFIjyT7NUMzpPGBwNmyOolm9
 xrkhYK2jNlXDTDVwDy0dZGVphcWFIwSfD7+QSHgxHLGXDGOkXNBH4R7TT9H3A7qVCRUrUb8QR9XJ
 hFyJtRcQRKglCffu1Ll9wOP6fV9VPUOopgzs4/WgI8U5EHFhwntj48cICmP/V60TS+K4SIbJiUi0
 7xBAaggB+oXH3dvrMbuTkjQ6ZL4ox+TVzlZGNBp7IZ5WGLkfQhpJcSfjbGKr6XU+MTg2Ul4+aqji
 Mb2vsG8xOFuwudVlc3sPJ9aQqyfN++QhRBoRChlRnEZ43Jc6Ky3kdbyC+uqEoqVeKnS8TgjjWsjr
 KNFD9FxDBTUJFAXkwWONwVljSPPAVpoTNAwtHitEImPiRPcpRETNfWyAibSzMSOtNLbGYJI5kChj
 BuioZR1ORjy5Wq03ZzvOiv1+mvUPZ9s7hxFVU+mNoXRVpBhoGBlrHyXm/zh3ZKSwh1QYRsyk7CMn
 ZDT4HjU9gzmClrVpJBbV1AnrU9Oz687VGq999N73Pt3d2/oMBBc5TURVUCSgZghHUVHFqOqAvkVQ
 oxoP7XSolkVH7YKIjPobkRA1bioiA42IIIOhXxAkGjlJabuIPzB78OIzP/Nzl1y6d+/mu9/5w38C
 rkYqQCZQIvs8f9D95LPJaZF+gvtJTph8FoCrT54+c09orkK+W+5n7D7N4D5dDft09Q8Yv++HCZh4
 NpYQD5qNmyjAVVCOPHWfYv3p76e//+fv/wAYUcN5Si20rwAAAABJRU5ErkJggg==


